code/TenderManger/.vs/TenderManger/v15/.suo
code/TenderManger/.vs/TenderManger/v15/Server/sqlite3/db.lock
code/TenderManger/.vs/TenderManger/v15/Server/sqlite3/storage.ide
code/TenderManger/.vs/TenderManger/v15/Server/sqlite3/storage.ide-shm
code/TenderManger/.vs/TenderManger/v15/Server/sqlite3/storage.ide-wal
code/TenderManger/TenderManger/obj/Debug/TenderManger.csproj.CoreCompileInputs.cache
