/code/TenderManger/.vs/TenderManger/v15/.suo
/code/TenderManger/.vs/TenderManger/v15/Server/sqlite3/db.lock
/code/TenderManger/.vs/TenderManger/v15/Server/sqlite3/storage.ide
/code/TenderManger/.vs/TenderManger/v15/Server/sqlite3/storage.ide-shm
/code/TenderManger/.vs/TenderManger/v15/Server/sqlite3/storage.ide-wal

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*/bin
*/obj
code/TenderManger/.vs/TenderManger/v15/.suo
code/TenderManger/.vs/TenderManger/v15/Server/sqlite3/db.lock
code/TenderManger/.vs/TenderManger/v15/Server/sqlite3/storage.ide
code/TenderManger/.vs/TenderManger/v15/Server/sqlite3/storage.ide-shm
code/TenderManger/.vs/TenderManger/v15/Server/sqlite3/storage.ide-wal
code/TenderManger/TenderManger/obj/Debug/TenderManger.csproj.CoreCompileInputs.cache
code/TenderManger/TenderManger/bin/TenderManger.dll
code/TenderManger/TenderManger/bin/TenderManger.pdb
/code/Infrastructure/bin/Debug/Infrastructure.dll
*.dll
/code/*/bin
code/.vs/Tender/v14/.suo
code/.vs/Tender/v15/.suo
code/.vs/Tender/v15/Server/sqlite3/storage.ide
/code/.vs
code/Tender.Mvc/bin/Tender.App.dll
code/Infrastructure/bin/Debug/Infrastructure.dll
