@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .input-group {
        display: table;
    }
</style>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">投标单信息</a>
        </li>
        <li class="active">列表</li>
    </ul><!-- /.breadcrumb -->
</div>


<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="widget-box widget-color-blue">
                    <div class="widget-header">
                        <div class="btn-group pull-left">
                            <span> 标书列表</span>
                        </div>  
                        @Html.Action("MenuHeader", "Home", new { area = "" })
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <ul id="usertree" class="ztree" style="width: 100%"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="widget-box widget-color-blue">
                    <div class="widget-header">
                        <div class="btn-group pull-left">
                            <span> 投标列表</span>
                        </div>
                     
                    </div>
                    <div class="widget-body gridwidth">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <table id="maingrid"></table>
                                    <div id="grid-pager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->
<!--编辑对话框-->
<div id="editDlg" style="display: none;margin-top:10px;">
    <div class="col-xs-12">
        <form action="/TenderInfoManager/Add" method="post" class="form-horizontal" enctype="multipart/form-data" id="editForm">


            @*<div class="form-group">
                <label for="Id" class="col-sm-3 control-label no-padding-right">Id：</label>
                <div class="col-sm-9">
                    <input type="text" id="Id" name="Id" value="" />
                </div>
            </div>*@

            <div class="form-group">
                <label for="Description" class="col-sm-3 control-label no-padding-right">标书id：</label>
                <div class="col-sm-7">

                    <input id="TenderId" name="TenderId" v-model="TenderId" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="StartTime" class="col-sm-3 control-label no-padding-right">标书标题：</label>
                <div class="col-sm-7">
                    <input type="text" id="TenderTitle" name="TenderTitle" v-model="TenderTitle" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="EndTime" class="col-sm-3 control-label no-padding-right">投标人id：</label>
                <div class="col-sm-7">
                    <input type="text" id="UserId" name="UserId" v-model="UserId" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="Cycle" class="col-sm-3 control-label no-padding-right">投标人名称：</label>
                <div class="col-sm-7">
                    <input type="text" id="UserName" name="UserName" v-model="UserName" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="State" class="col-sm-3 control-label no-padding-right">投标金额：</label>
                <div class="col-sm-7">
                    <input type="text" id="TenderPrice" name="TenderPrice" v-model="TenderPrice" class="form-control" />
                </div>
            </div>

        </form>
    </div>

</div>
<script src="~/Content/scripts/zTree/js/jquery.ztree.excheck.js"></script>
<script src="~/BllScripts/grid.js"></script>
<script src="~/BllScripts/parentTreeMultiple.js"></script>
<script src="~/BllScripts/jqEvent.js"></script>
<script src="~/BllScripts/bidInfo.js"></script>
