@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- #section:basics/content.breadcrumbs -->
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Project Info</li>
    </ul><!-- /.breadcrumb -->
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div style="margin-top: 5px; margin-right: 300px; overflow: hidden;">
                <div class="row" style="padding: 0 8px;">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    作者信息>>
                                </h3>
                            </div>
                            <div class="panel-body bjui-doc" style="padding: 0;">
                                <ul>
                                    <li>QQ：651649026</li>
                                    <li>微信号：zhupeng0929</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 5px; margin-right: 300px; overflow: hidden;">
                <div class="row" style="padding: 0 8px;">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    使用说明>>
                                </h3>
                            </div>
                            <div class="panel-body bjui-doc" style="padding: 0;">
                                <ul>
                                    <li>添加部门和角色</li>
                                    <li>添加模块、添加用户</li>
                                    <li>为用户添加模块权限，菜单权限等</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 5px; margin-right: 300px; overflow: hidden;">
                <div class="row" style="padding: 0 8px;">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">项目最新动态>></h3>
                            </div>
                            <div class="panel-body">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
