
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>TenderManger.Net | 基于领域驱动的权限管理系统</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/Content/ace/css/bootstrap.css" />
    <link href="/Content/ace/css/font-awesome.min.css" rel="stylesheet" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="/Content/ace/css/ace-fonts.css"/>

    <link href="/Content/scripts/jqGrid/ui.jqgrid.css" rel="stylesheet" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/Content/ace/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="/Content/ace/css/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="/Content/ace/css/ace-skins.css" />
    <link rel="stylesheet" href="/Content/ace/css/ace-rtl.css"/>


    <link href="/Content/myace.css" rel="stylesheet"/>

    <link href="/Content/scripts/zTree/css/metroStyle/metroStyle.css" rel="stylesheet"/>
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/Content/ace/css/ace-ie.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="/Content/ace/js/ace-extra.js"></script>

    <script src="/Content/scripts/jquery/jQuery-2.1.4.min.js"></script>
    <script src="~/Content/scripts/jqGrid/jquery.jqGrid.src.js"></script>
    <script src="~/Content/scripts/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="~/Content/scripts/zTree/js/jquery.ztree.core.js"></script>
    <script src="~/Content/vue.js"></script>
    <script src="/Content/scripts/layui/layui.js"></script>
    <script type="text/javascript">
        var layer;
        layui.use(['layer', 'form'], function () {
            layer = layui.layer;
        });
    </script>
</head>

<body class="skin-1">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        TenderManger.Net
                    </small>
                </a>

                <!-- /section:basics/navbar.layout.brand -->
                <!-- #section:basics/navbar.toggle -->
                <!-- /section:basics/navbar.toggle -->
            </div>

            <!-- #section:basics/navbar.dropdown -->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">

                    <li class="purple dropdown-modal">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                            <span class="badge badge-important">8</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                8 Notifications
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                                    New Comments
                                                </span>
                                                <span class="pull-right badge badge-info">+12</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    See all notifications
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- #section:basics/navbar.user_menu -->
                    <li class="light-blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="/Content/ace/avatars/user.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>Welcome,</small>
                                 测试
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                           

                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-user"></i>
                                    详情
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="/Login/Logout">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    注销
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>

            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>

        <div id="sidebar" class="sidebar                  responsive                    ace-save-state" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
            <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }

        $(function () {
            var menuVal = "e8dc5db6-4fc4-4795-a1cc-681cbcceec91";
            if ("" != $.trim(menuVal)) {
                console.log(menuVal);
                $(".nav-list li").removeClass("active");
                $(".nav-list li").removeClass("open");
                $("#" + menuVal).addClass("active");
                $("#" + menuVal).parent().show();
            }
        });
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-home"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <!-- #section:basics/sidebar.layout.shortcuts -->
                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>

                    <!-- /section:basics/sidebar.layout.shortcuts -->
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list" style="top: 0px;">
                <li class="" id="7580672f-a390-4bb6-982d-9a4570cb5199">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-cog"></i>
                        <span class="menu-text">
                            基础配置
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>
                    <ul class="submenu nav-hide" style="display: none;">
                        <li class="" id="bedb41a2-f310-4775-af99-01be08adda93">
                            <a href="/RoleManager/Index">
                                <i class="menu-icon fa fa-users"></i>
                                <span class="menu-text"> 角色管理 </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="" id="0031262c-689c-4b96-bae2-2c9d67076ade">
                            <a href="/flowmanage/flowdesign/index">
                                <i class="menu-icon fa fa-anchor"></i>
                                <span class="menu-text"> 流程设计 </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="active" id="e8dc5db6-4fc4-4795-a1cc-681cbcceec91">
                            <a href="/ResourceManager/Index">
                                <i class="menu-icon fa fa-calculator"></i>
                                <span class="menu-text"> 资源管理 </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="" id="ef386d5d-cd58-43c0-a4ab-80afd0dbcd6c">
                            <a href="/UserManager/Index">
                                <i class="menu-icon fa fa-user"></i>
                                <span class="menu-text"> 用户管理 </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="" id="92b00259-2d15-43e7-9321-adffb29e8bf2">
                            <a href="/flowmanage/formdesign/index">
                                <i class="menu-icon fa fa-anchor"></i>
                                <span class="menu-text"> 表单设计 </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="" id="bc80478d-0547-4437-9cff-be4b40144bdf">
                            <a href="/ModuleManager/Index">
                                <i class="menu-icon fa fa-file-code-o"></i>
                                <span class="menu-text"> 模块管理 </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="" id="a94d5648-c2a9-405e-ba6f-f1602ec9b807">
                            <a href="/CategoryManager/Index">
                                <i class="menu-icon fa fa-archive"></i>
                                <span class="menu-text"> 分类管理 </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="" id="6a9e1346-0c01-44d2-8eb1-f929fdab542a">
                            <a href="/OrgManager/Index">
                                <i class="menu-icon fa fa-plus-square-o"></i>
                                <span class="menu-text"> 部门管理 </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <li class="" id="069475e3-c997-487a-9f29-e6a864c5c1d4">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-bars"></i>
                        <span class="menu-text">
                            应用功能
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="" id="89c3bfbe-246f-4112-8eb1-b6789da54202">
                            <a href="/StockManager/Index">
                                <i class="menu-icon fa fa-archive"></i>
                                <span class="menu-text"> 进出库管理 </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="" id="9486ff22-b696-4d7f-8093-8a3e53c45453">
                            <a href="/FlowManage/FlowInstances/Index">
                                <i class="menu-icon fa fa-clock-o"></i>
                                <span class="menu-text"> 流程处理 </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

            </ul><!-- /.nav-list -->
            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <!-- /section:basics/sidebar.layout.minimize -->
        </div>
        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="main-content-inner">
                @RenderBody()
            </div>
        </div><!-- /.main-content -->
     

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">TenderManger.Net</span>
                         &copy; yubaolee
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement
        )
            document.write("<script src='../components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>" +
                "<" +
                "/script>");
    </script>
    <script src="~/Content/scripts/bootstrap/js/bootstrap.js"></script>

    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="/Content/ace/js/src/elements.scroller.js"></script>
    <script src="/Content/ace/js/src/elements.colorpicker.js"></script>
    <script src="/Content/ace/js/src/elements.fileinput.js"></script>
    <script src="/Content/ace/js/src/elements.typeahead.js"></script>
    <script src="/Content/ace/js/src/elements.wysiwyg.js"></script>
    <script src="/Content/ace/js/src/elements.spinner.js"></script>
    <script src="/Content/ace/js/src/elements.treeview.js"></script>
    <script src="/Content/ace/js/src/elements.wizard.js"></script>
    <script src="/Content/ace/js/src/elements.aside.js"></script>
    <script src="/Content/ace/js/src/ace.js"></script>
    <script src="/Content/ace/js/src/ace.basics.js"></script>
    <script src="/Content/ace/js/src/ace.scrolltop.js"></script>
    <script src="/Content/ace/js/src/ace.ajax-content.js"></script>
    <script src="/Content/ace/js/src/ace.touch-drag.js"></script>
    <script src="/Content/ace/js/src/ace.sidebar.js"></script>
    <script src="/Content/ace/js/src/ace.sidebar-scroll-1.js"></script>
    <script src="/Content/ace/js/src/ace.submenu-hover.js"></script>
    <script src="/Content/ace/js/src/ace.widget-box.js"></script>
    <script src="/Content/ace/js/src/ace.settings.js"></script>
    <script src="/Content/ace/js/src/ace.settings-rtl.js"></script>
    <script src="/Content/ace/js/src/ace.settings-skin.js"></script>
    <script src="/Content/ace/js/src/ace.widget-on-reload.js"></script>
    <script src="/Content/ace/js/src/ace.searchbox-autocomplete.js"></script>
</body>
</html>